<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
            {{>auth/logo}}
			<div class="login-menu">
				<ul>
					<li><a href="login">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="/account/vendors/images/register-page-img.png" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="register-box bg-white box-shadow border-radius-10">
						<form class ="pd-20" id="register-form" method="post">
							<h5 class="text-center">Register an Account</h5>
							<div class="form-group">
								<label for="user_email">Email (*)</label>
								<input class="form-control" type="email" placeholder="dragonborn@gmail.com" id="user_email" name="user_email" value="{{email}}">
							</div>
							<div class="form-group">
								<label for="user_password">Password (*)</label>
								<input class="form-control" type="password" placeholder="**********" id="user_password" name="user_password">
							</div>
							<div class="form-group">
								<label for="user_cfm_password">Confirm Password (*)</label>
								<input class="form-control" type="password" placeholder="**********" id="user_cfm_password" name="user_cfm_password">
							</div>
							<div class="form-group">
								<label for="user_name">Name (*)</label>
								<input class="form-control" type="text" placeholder="Thancred Waters" id="user_name" name="user_name" value="{{name}}">
							</div>
							<div class="form-group">
								<label for="user_phone">Phone Number (*)</label>
								<input class="form-control" type="text" placeholder="0986465741" id="user_phone" name="user_phone" value="{{phone}}">
							</div>
							<div class="form-group">
								<label for="user_address">Address (*)</label>
								<input class="form-control" type="text" placeholder="38 Mercer Street" id="user_address" name="user_address" value="{{address}}">
							</div>
							<p class="text-center warning-message" style="color:red;">{{error}}</p>
							<button id="submit-register" class="btn btn-primary btn-lg btn-block">Submit</button>
						</form>
						<div class="pd-20">
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- js -->
    {{>auth/js}}
	<script src="/account/src/scripts/script.js"></script>
</body>