<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    {{#with product}}
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">All Categories</a></li>
                    <li><a href="/products/?category={{category}}">{{'category_category.nameCategory'}}</a></li>
                    <li><a href="#">{{brand}}</a></li>
                    <li class="active">{{name}}</li>
                    {{/with}}
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    {{#each image}}
                    <div class="product-preview">
                        <img src="/store/img/{{imageurl}}" alt="">
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    {{#each image}}
                    <div class="product-preview">
                        <img src="/store/img/{{imageurl}}" alt="">
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- /Product thumb imgs -->
            
            <!-- Product details -->
            {{#with product}}
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{name}}</h2>
                    <div>
                        <div class="product-rating">
                            
                        </div>
                        <a class="review-link" href="#product-tab"></a>
                        <p>{{views}} view(s)</p>
                    </div>
                    <div>
                        <h3 class="product-price">${{price}}</h3>
                        <span class="product-available">
                            {{#if stock}}
                            in stock.
                            {{else}}
                            out of stock.
                            {{/if}}
                            </span>
                    </div>
                    <p>{{{generalInfo}}}</p>

                    {{!-- <div class="product-options">
                        <label>
                            Size
                            <select class="input-select">
                                <option value="0">X</option>
                            </select>
                        </label>
                        <label>
                            Color
                            <select class="input-select">
                                <option value="0">Red</option>
                            </select>
                        </label>
                    </div> --}}

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input name="qty" type="number" value="1" placeholder="0">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button id="add-to-cart" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a href="#">{{'category_category.nameCategory'}}</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            {{/with}}
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li><a data-toggle="tab" href="#tab2" id="rating-tab-count"></a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        {{#with product}}
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{{detailedDescription}}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        {{/with}}

                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span id="rating-avg-number"></span>
                                            <div id="rating-avg-stars" class="rating-stars">
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <span class="rating-count"></span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <span class="rating-count"></span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <span class="rating-count"></span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <span class="rating-count"></span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <span class="rating-count"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->

                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">

                                        </ul>
                                        <ul class="reviews-pagination">
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->

                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form" method="post">
                                            <input type="hidden" name="idProduct" value="{{product.idProduct}}">
                                            {{#if user}}
                                            <input class="input" type="text" name="review_name" placeholder="Your Name" value="{{user.name}}"readonly>
                                            {{else}}
                                            <input class="input" type="text" name="review_name" placeholder="Your Name">
                                            {{/if}}
                                            <textarea class="input" name="review_content" placeholder="Your Review"></textarea>
                                            <div class="input-rating">
                                                <span>Your Rating: </span>
                                                <div class="stars">
                                                    <input id="star5" name="review_rating" value="5" type="radio"><label for="star5"></label>
                                                    <input id="star4" name="review_rating" value="4" type="radio"><label for="star4"></label>
                                                    <input id="star3" name="review_rating" value="3" type="radio"><label for="star3"></label>
                                                    <input id="star2" name="review_rating" value="2" type="radio"><label for="star2"></label>
                                                    <input id="star1" name="review_rating" value="1" type="radio" checked><label for="star1"></label>
                                                </div>
                                            </div>
                                            <p id="warning-message" style="color:red;"></p>
                                            <button class="primary-btn" type="submit" id="submit-comment">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab2  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->  
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Related Products</h3>
                </div>
            </div>
            <!-- product -->
                {{#each relatedProducts}}
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <img src="/store/img/{{thumbnail}}" alt="">
                                {{!-- <div class="product-label">
                                    <span class="sale">-30%</span>
                                </div> --}}
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{'category_category.nameCategory'}}</p>
                                <h3 class="product-name"><a href="{{idProduct}}">{{name}}</a></h3>
                                <h4 class="product-price">${{price}}</h4>
                                <div class="product-rating">
                                </div>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <input type="hidden" value="{{idProduct}}">
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            </div>
                        </div>
                    </div>
                
            {{else}}
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <p class = "text-muted">No Related Product</p>
                    </div>
                </div>
            {{/each}}

            <!-- /product -->

            <div class="clearfix visible-sm visible-xs"></div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->
{{#section "fetch"}}
<script src="/api/fetch/productDetailsComment.js"></script>
<script src="/api/fetch/productDetailsCart.js"></script>
{{/section}}