
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <div class="aside">
                    <button id="reset-btn" class="primary-btn">reset filter</button>
                </div>

                <!-- aside Search Widget -->
                <div class="aside">
                    <h3 class="aside-title">Search</h3>
                    <div class="search-filter">
                        <input type="text" name="search" id="search" placeholder="Search here" autocomplete="off">
                    </div>
                </div>
                <!-- /aside Search Widget -->

                <!-- aside Category Widget -->
                <div class="aside">
                    <h3 class="aside-title">Categories</h3>
                    <div class="checkbox-filter">
                        {{#each categories}}
                        <div class="input-radio">
                            <input class="category-filter" type="radio" name="category" id="category-{{category}}" value="{{category}}">
                            <label for="category-{{category}}">
                                <span></span>
                                {{'category_category.nameCategory'}}
                                
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!-- /aside Category Widget -->

                <!-- aside Brand Widget -->
                <div class="aside">
                    <h3 class="aside-title">Brand</h3>
                    {{!-- <form> --}}
                    <div class="checkbox-filter">
                        {{#each brands}}
                        <div class="input-radio">
                            <input class="brand-filter" type="radio" name="brand" id="brand-{{lowerCase brand}}" value="{{brand}}">
                            <label for="brand-{{lowerCase brand}}">
                                <span></span>
                                {{brand}}
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!-- /aside Brand Widget -->

                <!-- aside Rating Widget -->
                <div class="aside">
                    <h3 class="aside-title">Rating</h3>
                    <div class="checkbox-filter">
                        <div class="input-radio">
                            <input class="rating-filter" type="radio" name="rating" id="rating-4" value="4">
                            <label for="rating-4">
                                <span></span>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                and up
                            </label>
                        </div>
                        <div class="input-radio">
                            <input class="rating-filter" type="radio" name="rating" id="rating-3" value="3">
                            <label for="rating-3">
                                <span></span>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                and up
                            </label>
                        </div>
                        <div class="input-radio">
                            <input class="rating-filter" type="radio" name="rating" id="rating-2" value="2">
                            <label for="rating-2">
                                <span></span>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                and up
                            </label>
                        </div>
                        <div class="input-radio">
                            <input class="rating-filter" type="radio" name="rating" id="rating-1" value="1">
                            <label for="rating-1">
                                <span></span>
                                <i class="fa fa-star star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                <i class="fa fa-star-o star-red"></i>
                                and up
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /aside Rating Widget -->

                <!-- aside Price Widget -->
                <div class="aside">
                    <h3 class="aside-title">Price</h3>
                    <div class="price-filter">
                        <div class="input-number price-min">
                            <input id="price-min" type="number" value="" placeholder="From" name="pricemin">

                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number" value="" placeholder="To" name="pricemax">

                        </div>
                    </div>
                </div>
                <!-- /aside Price Widget -->

                <!-- aside Top Selling Widget -->
                {{!-- <div class="aside">
                    <h3 class="aside-title">Top selling</h3>
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="/store/img/product01.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="/store/img/product02.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="/store/img/product03.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>
                </div> --}}
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select id="sort-method" name="sort" class="input-select">
                                <option value="0">None</option>
                                <option value="1">Price: Highest to Lowest</option>
                                <option value="2">Price: Lowest to Highest</option>
                                <option value="3">Rating: Highest to Lowest</option>
                                <option value="4">Rating: Lowest to Highest</option>
                                <option value="5">Creation: Highest to Lowest</option>
                                <option value="6">Creation: Lowest to Highest</option>
                            </select>
                        </label>
                        <label>
                            Show:
                            <select id="show-limit" name="limit" class="input-select">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="3">3</option>
                            </select>
                        </label>
                    </div>
                    {{!-- <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul> --}}
                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div id="product-list" class="row store-flex">
                    <!-- product -->
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty"></span>
                    <ul class="store-pagination">
                    
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{{#section "fetch"}}
<script src="/api/fetch/productList.js"></script>
{{/section}}